/*
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;

    --grey-light-1: #faf9f9;
    --grey-light-2: #f4f2f2;
    --grey-light-3: #f0eeee;
    --grey-light-4: #ccc;

    --grey-dark-1: #333;
    --grey-dark-2: #777;
    --grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
*/

// logo linksboven
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

// zoekbalk
.search {
   flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        font-family: inherit;  // inputelement krijgt ze niet automatisch mee van ouderelement (adoptiekindje of zoiets)
        font-size: inherit;
        color: inherit;
        background-color: var(--grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--grey-light-4);
        }
    }

    &__input:focus + &__button {
        background-color: var(--grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--grey-dark-3);
    }
}

// gebruikersnavigatie rechtsboven
.user-nav {
    align-self: stretch;

    display: flex;
    align-items: center;  // doet niks?

    & > * {             // selecteer alle kinderen (niet afstammelingen) van user-nav
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--grey-light-2);
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--grey-dark-2);
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}